body {
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
}
.header-bar {
    width: 100%;
    padding-top: 14px;
    position: relative;
    top: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li {
    display: inline;
    text-align: center;
}
#ul-1 {
    float: left;
    display: flex;
    text-indent: 20px;

}
#ul-2 {
    float: right;
    display: flex;
    align-content: space-around;
    font-size: 12px;
}
#sign-in {
    background-color: rgb(60, 136, 250);
    border: none;
    border-radius: 4px;
    color: white;
    width: 100px;
    height: 40px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
#sign-in:hover {
    background-color: rgb(46, 143, 255);
    cursor: pointer;
}
.a1:link {
   color: black;
   text-decoration: none;
}
.a1:visited {
    color: black;
   text-decoration: none;
}
.a1:hover {
    color: black;
    text-decoration: underline;
}    
.logo {
    display: flex;
    justify-content: center;
} 
.searchbar {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 600px;
    border: solid;
    border-width: .75px;
    border-color:rgb(245, 245, 245);
    border-radius: 30px; 
    font-size: 16px;
    text-indent: 50px;
}
.searchbar:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.19), 0 2px 8px 0 rgba(0,0,0,0.19);
}
.icons {

}
button {
    background-color: rgb(245, 245, 245);
    border: solid;
    border-width: .75px;
    border-color: rgb(245, 245, 245);
    width: 150px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    transition-duration: 0.01s;
}
button:hover {
    border-color:rgb(200, 200, 200);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.19), 0 1px 4px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.footer-bar {
    
    width: 100%;
    padding: 15px 0 15px 0;
    position: absolute;
    bottom: 0px;
    margin-right: 0;
    margin-left: 0;
    background-color: rgb(245, 245, 245);
}
#ul-4 {
    float: left;
    display: flex;
    text-indent: 45px;
}
#ul-5 {
    float: right;
    display: flex;
    text-indent: 45px;
    margin-right: 50px;
}
.a3:link {
    color: rgb(88, 88, 88);
    text-decoration: none;
    }
.a3:visited {
    color: rgb(88, 88, 88);
    text-decoration: none;
}
.a3:hover {
    color: rgb(88, 88, 88);
    text-decoration: underline;
