body {
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
}
.header-bar {
    width: 100%;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
}
#ul-1 {
    position: absolute;
    top: 20px;
    left: 0.5%;
    text-indent: 40px;
}
#ul-2 {
    position: absolute;
    top: 22px;
    left: 50%; 
    text-indent: 40px;
    font-size: 12px;
}
#ul-3 {
    position: absolute;
    top: 5px;
    left: 70%;
    text-indent: 40px;
}
#sign-in {
    background-color: rgb(60, 136, 250);
    border: none;
    border-radius: 4px;
    color: white;
    width: 100px;
    height: 40px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
#sign-in:hover {
    background-color: rgb(46, 143, 255);
    cursor: pointer;
}
.a1:link {
   color: black;
   text-decoration: none;
}
.a1:visited {
    color: black;
   text-decoration: none;
}
.a1:hover {
    color: black;
    text-decoration: underline;
}
.main {
    position: relative;
    top: 17.85em;
    margin: auto;
    text-align: center;
}
.searchbar {
    height: 42px;
    width: 580px;
    border: solid;
    border-width: 1px;
    border-color:rgb(211, 211, 211);
    border-radius: 30px;
    background-color: transparent;
    margin-top: 23px; 
    font-size: 16px;
    text-indent: 50px;
}
.searchbar:hover {
    box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.185), 0 2px 8px 0 rgba(0,0,0,0.19);
}
.icons {
    position: sticky;
    margin-top: -33px;
    margin-left: -500px;
}
#magnifying-glass {
    margin-inline: 500px;
}
button {
    background-color: rgb(245, 245, 245);
    border: solid;
    border-width: .75px;
    border-color: rgb(245, 245, 245);
    width: 130px;
    height: 35px;
    margin-top: 36px;
    margin-inline: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    transition-duration: 0.01s;
}
button:hover {
    border-color:rgb(200, 200, 200);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.19), 0 1px 4px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.footer-bar {
    
    width: 100%;
    padding: 15px 0 15px 0;
    position: absolute;
    bottom: 0px;
    background-color: rgb(245, 245, 245);
}
#ul-4 {
    float: left;
    display: flex;
    text-indent: 45px;
}
#ul-5 {
    float: right;
    display: flex;
    text-indent: 45px;
    margin-right: 50px;
}
.a3:link {
    color: rgb(88, 88, 88);
    text-decoration: none;
    }
.a3:visited {
    color: rgb(88, 88, 88);
    text-decoration: none;
}
.a3:hover {
    color: rgb(88, 88, 88);
    text-decoration: underline;
